<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="apple-touch-icon" href="/images/asiancargo.png" id="light-scheme-icon-apple">
        <link rel="apple-touch-icon" href="/images/asiancargowhite.png" id="dark-scheme-icon-apple">
        <link rel="icon" type="image/png" href="/images/asiancargo.png" id="light-scheme-icon">
        <link rel="icon" type="image/png" href="/images/asiancargowhite.png" id="dark-scheme-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Asian Cargo</title>
        
        <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/dist/css/lobibox.css"/>
        
        <link rel="stylesheet" href="/stylesheets/newstyle.css">
        <link rel="stylesheet" href="/vendors/base/vendor.bundle.base.css">
        <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="/app/css/style.css">
        <link rel="stylesheet" href="/app/css/loader.css">
        
        <script src="/javascripts/jquery-3.4.1.min.js"></script>
    </head>
    <body>
        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper full-page-wrapper">
                <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg bgc-white">
                    <div class="row flex-grow">
                        <div class="col-lg-6 d-flex align-items-center justify-content-center">
                            <div class="auth-form-transparent text-left p-3">
                                <form class="pt-3">
                                    <h2 class="font-weight-bold pt-3-font">Sign here.</h2>
                                    <div class="m-t-19"></div>
                                    <div class="my-2 d-flex justify-content-between align-items-center">
                                        <p>Sign in to the Shipping IO portal from the below. Please do not share privilege with unauthorized users or access.</p>
                                    </div>
                                    <div class="my-2 d-flex justify-content-between align-items-center">
                                        <p>Alternatively, admins able to access application through below authentications with only accepted social accounts.</p>
                                    </div>
                                    <div class="mb-2 d-none sign-in">
                                        <button type="button" class="btn btn-google auth-form-btn flex-grow p-0 m-l-10 googlesign" id="googlesign">
                                            <i class="mdi mdi-google mr-2"></i>Google
                                        </button>
                                    </div>
                                    <div class="mb-2 d-flex loading">
                                        <div class="preloader">
                                            <i>.</i>
                                            <i>.</i>
                                            <i>.</i>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex flex-row bg-sign">
                            <p class="text-black font-weight-medium text-center flex-grow align-self-end">Copyright © <script>document.write(/\d{4}/.exec(Date())[0])</script> <a href="#" rel="nofollow"><strong>Hidaya Solutions (Pvt) Ltd</strong></a> All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/javascripts/hoverable-collapse.js"></script>
        <script src="/javascripts/off-canvas.js"></script>
        <script src="/javascripts/template.js"></script>
        <script src="/vendors/base/vendor.bundle.base.js"></script>
        
        <script src="/javascripts/pdfmake.js"></script>
        <script src="/javascripts/vfs_fonts.js"></script>
        
        <script src="/javascripts/lobibox.js"></script>
        <script src="/demo/demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
        <script src="/app/js/cookie.js"></script>


<!--        <script src="/__/firebase/7.15.1/firebase-app.js"></script>
        <script src="/__/firebase/7.15.1/firebase-auth.js"></script>
        <script src="/__/firebase/7.15.1/firebase-firestore.js"></script>
        <script src="/__/firebase/init.js"></script>-->

        <script src="https://www.gstatic.com/firebasejs/7.15.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.15.1/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.15.1/firebase-firestore.js"></script>
        <script src="/app/js/Firebase.js"></script>
        <script src="/app/js/index.js"></script>
    </body>
</html>
